@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@import url('https://fonts.googleapis.com/css?family=Adamina');

a.navbar, :hover, :visited, :focus {
    text-decoration: none;
    color: black;
}

//a.navbar:hover, a.navbar:visited, a.navbar:focus {
//    text-decoration: none;
//    color: red;
//}

a {
    text-decoration: none;
}

.navbarIcon {
    padding-right: '5px';
}








